.bigWrap .CartWrap {
  position: relative;
  background: #F4F4F4;
  cursor: pointer;
}
.bigWrap .CartWrap .p {
  position: absolute;
  font-size: 4rem;
  color: #FF5900;
  top: 314px;
  left: 431px;
  visibility: hidden;
}
.bigWrap .CartWrap .upWrap {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem 2.2rem 4rem;
}
.bigWrap .CartWrap .upWrap .contentUp {
  display: flex;
  flex-wrap: wrap;
}
.bigWrap .CartWrap .upWrap .contentUp p:nth-child(1) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #212121;
}
.bigWrap .CartWrap .upWrap .contentUp p:nth-child(2) {
  padding-top: 1.4rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #212121;
  max-width: 75.1rem;
}
.bigWrap .CartWrap .upWrap .icon img {
  padding-right: 1rem;
}
.bigWrap .CartWrap .down {
  display: grid;
  grid-template-columns: 56.6rem 2.4rem 56.7rem;
  padding: 0.2rem 0.3rem 4.2rem 3.9rem;
}
.bigWrap .CartWrap .down .downLeftWrap .downTitleLeft {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
  color: #333333;
  opacity: 0.5;
}
.bigWrap .CartWrap .down .downLeftWrap ul {
  padding: 1.2rem 3.4rem 0.2rem 0rem;
}
.bigWrap .CartWrap .down .downLeftWrap ul li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  color: #212121;
}
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(1) {
  letter-spacing: -0.013rem;
}
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(2) {
  letter-spacing: -0.018rem;
  margin-top: 0.2rem;
}
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(3) {
  letter-spacing: -0.01rem;
  margin-bottom: 0.3rem;
}
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(4) {
  letter-spacing: -0.017rem;
  margin-top: -0.2rem;
}
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(2):before,
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(3):before,
.bigWrap .CartWrap .down .downLeftWrap ul li:nth-child(4):before {
  content: "";
  display: inline-block;
  height: 0.2rem;
  width: 0.2rem;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #000;
  margin-right: 0.9rem;
  margin-left: 0.9rem;
}
.bigWrap .CartWrap .down .lineGrid {
  border-left: 0.1rem solid #333333;
  height: 16rem;
  margin-left: -0.8rem;
  opacity: 0.2;
}
.bigWrap .CartWrap .down .downRightWrap .downTiteRight {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 140%;
  color: #333333;
  opacity: 0.5;
  letter-spacing: -0.01rem;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightUp {
  grid-column-gap: 1.4rem;
  display: grid;
  grid-template-columns: 13% 73%;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightUp .leftUp {
  padding-top: 1.3rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 110%;
  color: #FF5900;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightUp .rightUp {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.01rem;
  color: #212121;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightDown {
  display: grid;
  grid-template-columns: 2% 6% 8% 38%;
  align-items: end;
  margin-top: 1.2rem;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightDown .leftDown,
.bigWrap .CartWrap .down .downRightWrap .contentRightDown .leftDown2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 110%;
  color: #FF5900;
  margin-left: -0.2rem;
  margin-bottom: 0.4rem;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightDown .leftDown1 {
  margin-left: -0.3rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 4.18rem;
  color: #FF5900;
}
.bigWrap .CartWrap .down .downRightWrap .contentRightDown .rightDown {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: -0.01rem;
  margin-bottom: 0.2rem;
  color: #212121;
}
.bigWrap .scroll {
  margin-top: 4rem;
}

@media (max-width: 1200px) {
  .bigWrap .CartWrap .down {
    padding: 0.2rem 4.2rem 4.2rem 3.9rem;
    display: block;
  }
  .bigWrap .CartWrap .down .lineGrid {
    border-bottom: 0.1rem solid #333333;
    height: 0.1rem;
    opacity: 0.2;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .bigWrap .CartWrap {
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(157, 43, 93, 0.3294117647) 100%);
  }
  .bigWrap .CartWrap .upWrap .contentUp p:nth-child(1),
.bigWrap .CartWrap .upWrap .contentUp p:nth-child(2) {
    color: #F4F4F4;
  }
  .bigWrap .CartWrap .down .downLeftWrap .downTitleLeft {
    color: white;
    opacity: 0.5;
  }
  .bigWrap .CartWrap .down .downLeftWrap ul {
    color: white;
  }
  .bigWrap .CartWrap .down .downLeftWrap ul li {
    color: white;
  }
  .bigWrap .CartWrap .down .lineGrid {
    border-bottom: 0.1rem solid white;
  }
  .bigWrap .CartWrap .down .downRightWrap .downTiteRight {
    color: white;
    opacity: 0.5;
  }
  .bigWrap .CartWrap .down .downRightWrap .contentRightUp .rightUp {
    color: white;
  }
  .bigWrap .CartWrap .down .downRightWrap .contentRightDown .rightDown {
    color: white;
  }
}/*# sourceMappingURL=Cart.module.css.map */