.cont {
  max-width: 100%;
  background: #333333;
    .footerWrap{
  .footerContainer {
    max-width: 100%;
    // height: 58.3rem;
    margin: 0 auto;
    padding-top: 10rem;
    height: 100%;
    // padding-left: 20px;
    // padding-right: 20px;
    // max-width: 500px;
    // margin-left: auto;
    // margin-right: auto;

    .gridContainer {
      display: grid;
      grid-template-columns: 18% 16% 14.6% 15.8%;
      grid-column-gap: 14.25rem;
      margin-bottom: 5rem;
      
      // margin-left: 20px;
      // margin-right: 20px;
      


      ul li:nth-child(1) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 140%;
        color: #ffffff;
        opacity: 0.5;
        padding-bottom: 2.7rem;
        padding-left: 0.3rem;
      }

      ul li{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 170%;
        color: #ffffff;
        margin-left: 0.2rem;
      }

      .column1 {
        .img {
          padding-bottom: 5.6rem;
        }

        .ourRegion {
          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 170%;
            color: #ffffff;
            opacity: 0.5;
            padding-bottom: 2rem;

            .link {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 500;
              font-size: 1.4rem;
              line-height: 100%;
              color: #ffffff;
              margin-left: 0.5rem;
            }
          }
        }

        .contact {

          
         a, p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 170%;
            color: #ffffff;
            padding-bottom: 1.3rem;
          }
        }

        .requisites {
          padding-bottom: 2.7rem;

          p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 170%;
            color: #ffffff;
            opacity: 0.5;

            img {
              float: left;
              margin-right: 2rem;
            }
          }
        }

        .img {
          float: left;
          margin-right: 2rem;
        }
      }
    }

    .endFooter {
      display: flex;
      justify-content: space-between;
      border-top: 0.1rem solid #ffffff;
      opacity: 0.1;
      height: 5rem;
      align-items: center;

      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 120%;
        color: #ffffff;
      }
    }
  }
}
}
.cont{
  padding: 0 15px;
}


@media (min-width: 575.98px){
  .cont {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  .cont {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .cont {
    padding: 0 calc(50% - 480px);
   
  }
}

@media (min-width: 1199.98px){
  .cont {
    padding: 0 calc(50% - 590px);
  }
}


@media  (max-width:1200px) {
	.cont{
    .footerWrap{
      // padding: 0 calc(50% - 590px);
  .footerContainer{
      .gridContainer {
        grid-column-gap: 7.25rem;
        justify-content:center;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
        height: 100%;
        justify-content:center;

        ul:nth-child(1) {
          grid-row-start: 1;
          grid-column-start: 1;
          grid-row-end: 2;
          grid-column-end: 2;
        }
        ul:nth-child(2) {
          grid-row-start: 1;
          grid-column-start: 2;
          grid-row-end: 2;
          grid-column-end: 3;
        }
        ul:nth-child(3) {
          grid-row-start: 1;
          grid-column-start: 3;
          grid-row-end: 2;
          grid-column-end: 4;
        }
        .column1{
          grid-row-start: 2;
          grid-column-start: 1;
          grid-row-end: 3;
          grid-column-end: 4;
        }
        .column1{
          display: flex;
          padding-top: 40px;
          justify-content: space-between;
        }
    }
    } 
  }
	}
		}

    @media  (max-width:991px) {
      .cont{
        .footerWrap{
          // padding: 0 calc(50% - 590px);
      .footerContainer{
         .gridContainer {
                // grid-column-gap: 3.25rem;
                grid-template-rows: 1fr ;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0px;
                height: 100%;
                justify-content:center;

                ul:nth-child(1) {
                  grid-row-start: 1;
                  grid-column-start: 1;
                  grid-row-end: 2;
                  grid-column-end: 2;
                }
                ul:nth-child(2) {
                  grid-row-start: 1;
                  grid-column-start: 2;
                  grid-row-end: 2;
                  grid-column-end: 3;
                }
                ul:nth-child(3) {
                  grid-row-start: 1;
                  grid-column-start: 3;
                  grid-row-end: 2;
                  grid-column-end: 4;
                }
                .column1{
                  grid-row-start: 2;
                  grid-column-start: 1;
                  grid-row-end: 3;
                  grid-column-end: 4;
                }
                .column1{
                  display: flex;
                  padding-top: 40px;
                  justify-content: space-between;
                }
            } 
            .endFooter{
              // margin-top: -205px;
            }
            
        } 
      }
      }
        }    
        @media  (max-width:767.98px) {
          html{
            font-size: 9px;
          }
          .ourRegion{
            display: none;
          }
          .requisites{
            display: none;
          }
          .cont{
            .footerWrap{
              // padding: 0 calc(50% - 590px);
          .footerContainer{
              
          } 
          }
          }
          }            

          @media  (max-width:767.98px) {
            html{
              // font-size: 9px;
            }
            .cont{
              .footerWrap{
                // padding: 0 calc(50% - 590px);
            .footerContainer{
                
              } 
            }
            }
            }   
            
            @media  (max-width:520px) {
              html{
                font-size: 6px;
                .cont{
                  .footerWrap{
                    // padding: 0 calc(50% - 590px);
                .footerContainer{
                   .gridContainer {
              .column1{
                display: flex;
                padding-top: 10px;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;

                .img{
                  float: none; 
                  margin-right: 0rem;
                  padding-bottom: 0rem;
                }
              }
                    }}}} }
             
            }
            @media  (max-width:320px) {

            }             
  