    .Wrap {
       

        .wrapContent {
            padding-top: 12rem;
            padding-bottom: 12rem;
            // max-width: 120rem;
            margin-left: auto;
            margin-right: auto;
            .Title {
                padding-bottom: 6rem;

                h2 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 3.8rem;
                    line-height: 120%;
                    color: #212121;

                }

            }

            .Content {
                display: flex;
                // max-width: 120rem;
                // overflow-x: scroll;
                height: 100%;

                &::-webkit-scrollbar {
                    height: 1rem;
                    max-width: 2rem;
                    margin-top: 3.9rem;
                    cursor: pointer;
                }

                &::-webkit-scrollbar-track {
                    background: rgba(51, 51, 51, 0.2);

                }

                &::-webkit-scrollbar-thumb {
                    background: #333333;
                    ;

                }
            }

        }
    }

    .Wrap {
        padding: 0 1.5rem;
      }
      
      @media (min-width: 575.98px){
        .Wrap {
          padding: 0 calc(50vw - 270px);
        }
      }
      
      @media (min-width: 767.98px){
        .Wrap {
          padding: 0 calc(50vw - 360px);
        }
      }
      
      @media (min-width: 991.98px) {
        .Wrap {
          padding: 0 calc(50vw - 480px);
        }
      }
      
      @media (min-width: 1199.98px){
        .Wrap {
          padding: 0 calc(50vw - 600px);
        }
      }

      // @media  (max-width:1598px) {}
	@media  (max-width:1200px) {
    .Wrap {
    .wrapContent {
      .Content{
        display: block;
        max-height: 100%;
        // overflow-x: hidden;

      }
  }
}
}

@media  (max-width:768px) {
  .Wrap {
   
  .wrapContent {
    
    .Content{
      

    }
}
}
}


@media  (max-width:52rem) {
  // ;
  .Wrap {
    .wrapContent {
      .Content{
        max-height: 63vh
      }
  }
}
}
	// @media  (max-width:992px) {}
	// @media  (max-width:768px) {}
	// @media  (max-width:480px) {}
	// @media  (max-width:320px) {}