.cartWrap {
    // max-width: 36rem;
    // height: 16rem;
    // background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, #9d2b5d54 100%);


    .cartWrapLight {
        height: 100%;
        display: grid;
        justify-items: center;
        grid-row-gap: 1.7rem;
        // background: linear-gradient(to right, rgb(9 5 47 / 41%) 0%, rgb(157 43 93) 100%);
        // background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, #9d2b5d54 100%);
        .im1 {
            background: url('../../img/icon1.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
           
        }

        .im2 {
            background: url('../../img/icon2.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
        }

        .im3 {
            background: url('../../img/icon3.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
        }

        .im4 {
            background: url('../../img/icon4.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
        }

        .im5 {
            background: url('../../img/icon5.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
        }

        .im6 {
            background: url('../../img/icon6.svg') no-repeat;
            width: 7rem;
            height: 7rem;
            margin-top: 0.8rem;
        }

        .cartContent {

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 140%;
                text-align: center;
                color: #333333;
            }
        }
    }


    
}

.cartWrap:hover {
    // border: 1px solid orangered;
    // cursor: pointer;
    // transition-duration: 0.3s;
    // transition-timing-function: linear;  
    // box-shadow: 0 0 10px orangered; /* Параметры тени */
    // padding: 10px;     
}

@media  (max-width:768px) {
    .cartWrap {
        //  max-width: 36rem;
    // height: 100%;
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, #9d2b5d54 100%);
    .cartWrapLight{
        .cartIcon{
        height: 70px;
        width: 70px;
        }
        .cartContent {

            p {  
                font-size: 16px;                
                display: table-footer-group;
            }
        }
	} 
    }
    
    
}


